.add-new-recipe{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 10px;
    width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.add-recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    margin: 10px 0;
}
input,textarea{
    margin-left: 10px;
}